.composition-block {
	// height: 930px;
	
	&__wrap {
		position: relative;
		// margin-top: 115px;
		margin-bottom: 50px; //test
		// height: 930px;
	}

	&__comment {
		position: relative;
		// top: 100px;
		left: 0;
	}

	&__title {
		position: relative;
		font-family: "Akrobat Bold";
		font-weight: bold;
		font-size: 60px;
		line-height: 30px;
		color: #333333;
		margin-bottom: 40px;
	}

	&__subtitle {
		position: relative;
		font-family: "Proxima Nova Light";
		font-size: 20px;
		line-height: 30px;
		color: #333333;
	}

	&__product-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		height: 645px;
		margin-top: 65px;

		.img-holder {
			flex-grow: 4px;
			position: relative;
			height: 645px;
			img {
				height: 100%;
				width: auto;
			}
		}

		.packing-holder {
			// flex-grow: 2;
			margin-left: 10px;

			&__title {
				font-family: "Akrobat Bold";
				font-weight: bold;
				font-size: 60px;
				line-height: 45px;
				color: #333333;
				margin-bottom: 60px;
			}

			&__notice {
				font-family: "Proxima Nova Light";
				font-size: 20px;
				line-height: 30px;
				color: #333333;
			}
		}

	}


}