.footer.touch {
	background: #d7e5b1;
}

.footer.touch .footer__subscribe-form input[type='text'] {
	background: #d7e5b1;
}

.footer.subskin {
	background: #b7a1c9;
}

.footer.subskin .footer__subscribe-form input[type='text'] {
	background: #b7a1c9;
}

.footer.deep {
	background: #8ec0bf;
}

.footer.deep .footer__subscribe-form input[type='text'] {
	background: #8ec0bf;
}


//=======================================================================
.footer {
	background: #8ec0bf;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;

	&__logo {
		font-family: "Akrobat Light";
		width: 20px;
		font-size: 40px;
		line-height: 45px;
		word-wrap: break-word;
		text-transform: uppercase;
		color: #fff;
	}

	&__contact-info {
		

		.title {
			font-family: "Akrobat Bold";
			font-size: 40px;
			line-height: 30px;
			font-weight: bold;
			margin-top: 0;
		}

		.text {
			font-family: "Proxima Nova Regular";
			font-size: 20px;
			line-height: 30px;
			margin-top: 45px;


			a {
				color: #fff;
				// text-decoration: none;
			}
		}
	}

	&__menu {

	}

	&__menu-item {
		display: inline-block;
		text-align: center;
		font-family: "Akrobat Regular";
		font-size: 18px;
		a {
			color: #fff;
			letter-spacing: 0.07em;
		}
	}

	&__subscribe-invite {
		font-family: "Proxima Nova Regular";
		font-size: 18px;
		line-height: 27px;
		margin-top: 70px;
	}

	&__subscribe-form {
		input[type='text'] {
			font-family: "Akrobat Regular";
			font-size: 18px;
			background: #8ec0bf;
			letter-spacing: 0.1em;
			border: 3px solid #fff;
			outline: none;
			padding: 20px;
			height: 60px;
			width: 50%;
			&::placeholder {
				color: #fff;
			}
		}

		input[type='submit'] {
			font-family: "Akrobat Bold";
			line-height: 100%;
			background: #fff;
			// padding-left: 40px;
			// padding-right: 40px;
			padding: 20px 40px;
			color: #8ec0bf;
			height: 60px;
			border: 0;
			margin-left: 20px;
			
			&:hover {
				background: #F57C85;
				color: #fff;
			}
		}
	}

	&__copyright {
		font-family: "Proxima Nova Regular";
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		margin-top: 85px;
	}
}