.top-panel.subskin {
	background: #a585b8;
	color: #fff;
}

.main-nav.subskin {
	a {
		color: #fff;

		&:hover {
			color: #333;
		}
	}
}

.drop-menu.subskin {
	a {
		color: #333;
	}
}



/***************************************
	Grace-touch
/***************************************/

.top-panel.touch {
	background: #b1c673;
	color: #fff;
}

.main-nav.touch {
	a {
		color: #fff;

		&:hover {
			color: #333;
		}
	}
}

.drop-menu.touch {
	a {
		color: #333;
	}
}

/***************************************
	Grace-deep
/***************************************/

.top-panel.deep {
	background: #64b2ad;
	color: #fff;
}

.main-nav.deep {
	a {
		color: #fff;

		&:hover {
			color: #333;
		}
	}
}

.drop-menu.deep {
	a {
		color: #333;
	}
}


/***************************************
	Grace-deep
/***************************************/



.top-panel {
	font-family: "Akrobat Regular";
	background: #e8e8e8;
	color: #333;
	padding: 44px 0;

	.logo {
		font-family: "Akrobat Light";
		font-size: 40px;
		line-height: 45px;
		text-transform: uppercase;
		word-wrap: break-word;
		width: 17px;
		position: absolute;
		z-index: 10;
	}
}



.main-nav {
	user-select: none;
	z-index: 999
	
	&__list-holder {
		float: right;
		z-index: 10;
	}

	&__list-item {
		
		display: inline-block;
		margin-right: 60px;
		position: relative;

		&:last-child {
			margin-right: 0;
		}



		&:hover .drop-menu,
		&:active .drop-menu,
		&:focus .drop-menu {
			display: block;

		}
	}

	a {
		color: #333;
		font-size: 18px;
		line-height: 36px;
		font-weight: 600;
		letter-spacing: 0.07em;
		text-decoration: none;

		&:hover {
			color: #8ec0bf;
		}
	}

	.arrow-right {
		display: none;
	}
}

.drop-menu {
	display: none;
	position: absolute;
	left: -60%;
	top: 100%;
	padding: 40px;
	background: #fff;
	width: 220px;
	z-index: 10;

	li {
		display: block;
		margin: 0 auto;
	}

	a {
		line-height: 36px;
		letter-spacing: 0.05em;
		&:hover,
		&:active,
		&:focus {
			color: #8ec0bf;
			text-decoration: none;
		}

		&:hover .arrow-right,
		&:active .arrow-right,
		&:focus .arrow-right {
			display: inline;
		}

	}
}

.menu-trigger {
	display: none;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #949494;
	float: right;
	z-index: 555;

	span,
	span:before,
	span:after {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -10px;
		margin-top: -1px;
		width: 20px;
		height: 2px;
		background: #949494;
		transition: .2s;
	}

	span:before,
	span:after {
		content: '';
		z-index: 9999;
	}

	span:before {
		transform: translateY(-5px);
	}

	span:after {
		transform: translateY(5px);
	}

}

.menu-btn-active span {
	height: 0;
}

.menu-btn-active span:before {
	transform: rotate(45deg);
}

.menu-btn-active span:after {
	transform: rotate(-45deg);
}