.info-block {
	position: relative;
	margin-top: 150px;
	margin-bottom: 50px;		//test

	&__notice{
		// margin-left: 140px; // доработать отступы
	}
	&__title {
		font-family: "Akrobat Bold";
		font-size: 60px;
	}
	&__text {
		font-family: "Proxima Nova Light";
		font-size: 22px;
		margin-top: 60px;
		// line-height: 38px;
	}

	.bg-block {
		background-size: contain;
		background-repeat: no-repeat;
		// position: absolute;
		background-color: #fff;
		height: 100%;
		width: 100%;

		// height: inherit;
		// border: 1px solid black;
	}

	

	.about-bg {
		right: 0;
		background-image: url(../img/bg-about.jpg);
		background-position: right center;
	}

	.derm-filters-bg {
		left: 0;
		background-image: url(../img/dermal-filters-bg.jpg);
		background-position: left top;
	}

	.quality-bg {
		right: 0;
		background-image: url(../img/quality-bg.jpg);
		background-position: right top;
	}

	.contact-us-bg {
		left: 0;
		background-image: url(../img/contact-us-bg.jpg);
		background-position: right top;
	}

}

.h100-per-right {
	position: absolute;
	height: 100%;
	right: 0;
	background-size: contain;
}

.h100-per-left {
	position: absolute;
	height: 100%;
	left: 0;
	background-size: contain;
}



.contact-form {

	.form-elem-style {
		display: block;
		font-family: "Akrobat Regular";
		font-size: 18px;
		line-height: 45px;

		width: 100%;
		outline: 0;
		border: 0;
		border-bottom: 1px solid #ddd;
		resize: none;
		padding: 10px;

		&::placeholder {
			color: #b9b9b9;
		}
	}

	label.form-label {
		font-family: "Proxima Nova Regular";
		font-weight: normal;
		line-height: 45px;
		color: #b9b9b9;
		
	}

	#chckbx {
		border: 1px solid #ddd;
		background: #fff;
	}

	.form-btn {
		font-family: "Akrobat Bold";
		font-weight: bold;
		line-height: 45px;
		border-radius: 0;
		// width: 50%;
		display: block;
		color: #fff;
		background: #f6a9af;
		padding-right: 55px;
		padding-left: 55px;
		letter-spacing: 0.12em;
		border: 0;
		outline: 0;

		margin-top: 40px;
	}

	.form-btn:hover {
		background: #F57C85;
	}
}