.injection-block.touch .injection-block__img-holder {
	background-image: url(../img/touch/face-touch.jpg);
}

.injection-block.deep .injection-block__img-holder {
	background-image: url(../img/deep/face-deep.jpg);
}

.injection-block.subskin .injection-block__img-holder {
	background-image: url(../img/subskin/face-subskin.jpg);
}



.injection-block {
	&__wrap {
		position: relative;
		// margin-top: 115px;
		margin-bottom: 50px; //test
		height: 930px;
	}
	&__img-holder {
		
		width: 100%;
		height: 100%;
		// border: 1px solid black;
		background-image: url(../img/touch/face-touch.jpg);
		background-position: center top;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__comment {
		position: relative;
		top: 100px;
		left: 0;
	}

	&__title {
		position: relative;
		font-family: "Akrobat Bold";
		font-weight: bold;
		font-size: 60px;
		line-height: 30px;
		color: #333333;
		margin-bottom: 40px;
	}

	&__subtitle {
		position: relative;
		font-family: "Proxima Nova Light";
		font-size: 20px;
		line-height: 30px;
		color: #333333;
	}
}