.main-block.subskin {
	background: #a585b8;
}

.main-block.subskin .main-block__bg {
	background: #b7a1c9;
}

.main-block.subskin .main-block__bg .product-img:after {
	content: '26 mg/ml';
	background: #a585b8;
}


/***************************************
	Grace-touch
/***************************************/
.main-block.touch {
	background: #b1c673;
}

.main-block.touch .main-block__bg {
	background: #d7e5b1;
}

.main-block.touch .main-block__bg .product-img:after {
	content: '18 mg/ml';
	background: #b1c673;
}


/***************************************
	Grace-deep
/***************************************/


.main-block.deep {
	background: #64b2ad;
}

.main-block.deep .main-block__bg {
	background: #8ec0bf;
}

.main-block.deep .main-block__bg .product-img:after {
	content: '23 mg/ml';
	background: #72b7b3;
}


/***************************************
	// Grace-deep
/***************************************/


.main-block {
	background: #e8e8e8;
	position: relative;
	
	&__wrap {
		height: 660px;
		position: relative;
	}

	&__title {
		position: absolute;
		color: #fff;
		z-index: 10;
		top: 40%;
		margin-top: -100px;
		left: 160px;
		width: 500px;
		
		.main-title {
			font-family: "Akrobat Bold";
			// position: absolute;
			font-size: 80px;
			line-height: 80px;
			letter-spacing: 0.15em;
			// text-align: center;
			text-transform: uppercase;
			
			// height: 100%;
			display: flex;
			align-items: center;
			margin-bottom: 80px;
		}

		.main-text {
			font-family: "Proxima Nova Bold";
			font-size: 22px;
			line-height: 38px;
			text-transform: none;
			letter-spacing: 1px;
		}
	}

	&__bg {
		position: absolute;
		height: 110%;
		right: 0;
		width: 70%;
		// border: 1px solid black;
		background: #8ec0bf;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;

		background: #8ec0bf;
		z-index: 5;


		.product-img {
			// border: 1px solid black;
			position: relative;
			height: 70%;
			// height: 70%;
			img {
				height: 100%;
				width: auto;
				// border: 1px solid black;
				display: block;
			}

			&:after {
				// content: '18 mg/ml';
				// background: #b1c673;
				display: block;
				position: absolute;
				left: 100%;
				top: 50%;
				margin-left: -10px;

				font-family: "Proxima Nova Extrabold";
				color: #fff;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 30px;
				padding-left: 10px;
				width: 130px;
				border-radius: 0 10px 0 10px;
			}
		}
	}


	

	

	&__comment {
		position: absolute;
		// border: 1px solid black;
		// display: block;
		bottom: 0;
		right: 0;
		margin-bottom: 27px;
		margin-right: 15px;
		color: #fff;

		.comment-title {
			font-family: "Akrobat Bold";
			font-size: 30px;
			line-height: 1.2em;
		}

		.comment-post {
			font-family: "Akrobat Regular";
			font-size: 18px;
		}
	}
}




