
.product-block {
	margin-top: 100px;
}
.product-holder {
	// height: 400px;
	/* border: 1px solid black; */
}

.product-item {
	font-family: "Akrobat Thin";
	font-size: 45px;
	color: #333;
	text-transform: uppercase;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	position: relative;
	
	a {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		text-decoration: none;
		color: #333;
	}

	span {
		font-size: 45px;
	}
	// border: 1px solid black;

	.bg-block {
		position: absolute;
		width: 100%;	
		height: 100%;
		// background: #f8b8bc;
		opacity: .5;
	}

	&__img {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 140%;
		background-image: url(../img/grace-soft.jpg);
		-webkit-background-size: contain;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		
		// border: 1px solid black;
	}

	.img-soft {
		background-image: url(../img/grace-soft.jpg);
	}

	.img-touch {
		background-image: url(../img/grace-touch.jpg);
	}

	.img-deep {
		background-image: url(../img/grace-deep.jpg);
	}

	.img-subskin {
		background-image: url(../img/grace-subskin.jpg);
	}

	.bg-soft {
		// background: #f8b9bd;

		background: rgb(249,193,197); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(249,193,197,1) 0%, rgba(248,185,189,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(249,193,197,1) 0%,rgba(248,185,189,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(249,193,197,1) 0%,rgba(248,185,189,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c1c5', endColorstr='#f8b9bd',GradientType=0 ); /* IE6-9 */
	}

	.bg-touch {
		background: rgb(192,218,143);
		background: -moz-linear-gradient(top, rgba(192,218,143,1) 0%, rgba(192,218,143,1) 100%); 
		background: -webkit-linear-gradient(top, rgba(192,218,143,1) 0%,rgba(192,218,143,1) 100%); 
		background: linear-gradient(to bottom, rgba(192,218,143,1) 0%,rgba(192,218,143,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0da8f', endColorstr='#c0da8f',GradientType=0 ); /* IE6-9 */
	}

	.bg-deep {
		background: rgb(151,211,209); 
		background: -moz-linear-gradient(top, rgba(151,211,209,1) 0%, rgba(103,189,186,1) 100%); 
		background: -webkit-linear-gradient(top, rgba(151,211,209,1) 0%,rgba(103,189,186,1) 100%);
		background: linear-gradient(to bottom, rgba(151,211,209,1) 0%,rgba(103,189,186,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97d3d1', endColorstr='#67bdba',GradientType=0 ); /* IE6-9 */
	}

	.bg-subskin {
		// background: #b592c1;

		background: rgb(201,172,209); 
		background: -moz-linear-gradient(top, rgba(201,172,209,1) 0%, rgba(181,146,193,1) 100%); 
		background: -webkit-linear-gradient(top, rgba(201,172,209,1) 0%,rgba(181,146,193,1) 100%); 
		background: linear-gradient(to bottom, rgba(201,172,209,1) 0%,rgba(181,146,193,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9acd1', endColorstr='#b592c1',GradientType=0 ); /* IE6-9 */
	}
}

.i-soft {
	// border: 1px solid black;
}

.i-touch {
	// background: #bad685;
	margin-top: 200px;
}

.i-deep {
	// background: #83c9c8;
	margin-top: 100px;
}

.i-subskin {
	// background: #83c9c8;
	margin-top: 250px;
}


// == animation ===============

.product-item__img.anim50 {
	animation: animItem50 ease-in-out .4s forwards;
}

.product-item__img.anim100 {
	animation: animItem100 ease-in-out .4s forwards;
}


@keyframes animItem50 {
	0% {
		opacity: 0;
		transform: translateY(-300px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes animItem100 {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	100% {
		opacity: 0;
		transform: translateY(300px);
	}
}

@keyframes bg-anim50 {
	0% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}

@keyframes bg-anim100 {
	0% {
		height: 0%;
		
	}

	100% {
		height: 100%;
	}
}