.table-block.subskin {
	background: #b7a1c9;
}

.table-block.touch {
	background: #8cbebd;
}

.table-block.deep {
	background: #8cbebd;
}

//=================================================================

.table-block {
	background: #d7e5b1;

	&__container {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
}

table.product-indicators {
	width: 100%;
	background: #fff;
	border: 1px solid #B9B9B9;
	border-collapse: collapse;
	margin: 100px 0;
	// -webkit-box-shadow: 0px 56px 56px 4px #85b3b2;
	// -moz-box-shadow: 0px 56px 56px 4px #85b3b2;
	// box-shadow: 0px 56px 56px 4px #85b3b2;

	thead {
		font-family: "Proxima Nova";
		font-weight: 800;
		font-size: 20px;

		td {

		}
		
	}

	tbody td {
		font-family: "Proxima Nova";
		font-weight: 300;
		font-size: 20px;
	}

	td {
		text-align: center;
		border: 1px solid #A5A5A5;
		height: 60px;
		line-height: 60px
	}
}