@font-face {
	font-family: 'Akrobat Regular';
	src: 
		url('../fonts/Akrobat-Regular/Akrobat.ttf') format('truetype'),
		url('../fonts/Akrobat-Regular/Akrobat.woff') format('woff'),
		url('../fonts/Akrobat-Regular/Akrobat.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat Bold';
	src: 
		url('../fonts/Akrobat-Bold/Akrobatbold.ttf') format('truetype'),
		url('../fonts/Akrobat-Bold/Akrobatbold.woff') format('woff'),
		url('../fonts/Akrobat-Bold/Akrobatbold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat Light';
	src: 
		url('../fonts/Akrobat-Light/Akrobatlight.ttf') format('truetype'),
		url('../fonts/Akrobat-Light/Akrobatlight.woff') format('woff'),
		url('../fonts/Akrobat-Light/Akrobatlight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat Thin';
	src: 
		url('../fonts/Akrobat-Thin/Akrobatthin.ttf') format('truetype'),
		url('../fonts/Akrobat-Thin/Akrobatthin.woff') format('woff'),
		url('../fonts/Akrobat-Thin/Akrobatthin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
	url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExtraBold';
	src: url('../fonts/ProximaNova-ExtraBld/ProximaNova-ExtraBld.eot');
	src: url('../fonts/ProximaNova-ExtraBld/ProximaNova-ExtraBld.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-ExtraBld/ProximaNova-ExtraBld.woff') format('woff'),
	url('../fonts/ProximaNova-ExtraBld/ProximaNova-ExtraBld.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro Retular';
	src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
	url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
