@import "./reset.less";

@import "../libs/bootstrap.min.less";

@import (less) "./fonts.css";
@import "../libs/fontawesome/css/font-awesome.min.css";

@import "./page.less";

@import "./block/header.less";
@import "./block/main-block.less";
@import "./block/product-block.less";
@import "./block/info-block.less";
@import "./block/footer.less";

@import "./block/injection-block.less";
@import "./block/composition-block.less";
@import "./block/table-block.less";

@import "./media.less";

/*
Akrobat Light
Akrobat Regular
Akrobat Bold
Akrobat Thin

Proxima Nova Light
Proxima Nova Regular
*/

body {
	font-family: "Akrobat Regular";
	font-size: 18px;
	font-weight: normal;
}

.b {
	border: 1px solid black;
}

.r {
	border: 1px solid red;
}

// .container-fluid, .container {
// 	max-width: 1600px;
// }