// @media (min-width: 1920px) {
// 	.container {
// 		width: 1920px;
// 	}
// }

@media (min-width: 1750px) {
	.container {
		width: 1720px;
	}
}

// @media (min-width: 1450px) {
// 	.container {
// 		width: 1420px;
// 	}
// }

// @media (min-width: 1200px) {
// 	.container {
// 		width: 1200px;
// 	}
// }


/* --------------------------------------------------------------------------
 * nav-menu queries
 * -------------------------------------------------------------------------- */

@media (max-width: 990px) {
	.menu-trigger {
		display: block;
		position: fixed;
		right: 20px;
		top: 20px;
	}

	.logo {
		display: none;
	}
	
	
	.main-nav {
		&__list-holder {
			display: none;
			position: fixed;
			// top: 0;
			// margin-top: 50px;
			top: 0;
			right: 0;
			float: none;
			// border: 1px solid black;
			width: 60vw;
			height: 100vh;
			padding-top: 20px;
			padding-left: 20px;
			background: #fff;
		}

		&__list-holder.open {
			display: block;
		}

		&__list-item {
			display: block;
			margin: 20px 0;
		}
	}
	
	.drop-menu {
		position: relative;
		padding: 0;
		padding-left: 30px;
		left: 0;
		top: 0;
	}

}

/* --------------------------------------------------------------------------
 * main-block queries
 * -------------------------------------------------------------------------- */

@media (max-width: 990px) {
	.main-block {
		
		&__wrap {
			position: relative;
			// height: 100vh;
			height: auto;
		}

		&__title {
			display: flex;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			justify-content: center;
			position: relative;
			top: 0;
			margin-top: 0;
			margin-bottom: 10px;
			margin-left: auto;
			margin-right: auto;
			height: 20%;
			left: 0;
			
			width: 100%;
			

			.main-title {
				// border: 1px solid green;
				display: inline;
				text-align: center;
				font-size: 30px;
				line-height: 30px;
				margin-bottom: 20px;
			}

			.main-text {
				// border: 1px solid green;
				display: inline;
				text-align: center;
				// line-height: 20px;
				font-size: 14px;
				line-height: 20px;
			}
		}

		&__bg {
			position: relative;
			width: 100%;
			height: 80%;
			height: 300px;

		}

		.product-img {

			img {

			}

			&:after {
				width: 100px;
				padding: 5px;
			}
		}

		&__comment {

			.comment-title {
			}

			.comment-post {
			}
		}
	}
}


/* --------------------------------------------------------------------------
 * product-block queries
 * -------------------------------------------------------------------------- */
@media (max-width: 990px) {
	.product-block {
		//display: none;	//only for testing!!!!!!!!!!
	}


	.h100-per-right, .h100-per-left {
		position: relative;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.product-item {
		width: 50%;
		// border: 1px solid black;
		margin: 10px;
		.bg-block {
			// border: 1px solid black;
		}

		span {
			text-align: left;
		}

		&__img {
			opacity: 1;
			width: 80%;
			height: 80%;
			position: absolute;
			right: -100%;
		}
	}
}




/* --------------------------------------------------------------------------
 * info-block queries
 * -------------------------------------------------------------------------- */
@media (max-width: 990px) {
	.info-block {
		margin-top: 20px;
		margin-bottom: 50px;

		&__notice {
			margin-left: 0;

		}

		&__text {

		}

		.bg-block {
			position: relative;
			-webkit-background-size: contain;
			background-size: contain;
			background-position: center bottom;
			// border: 1px solid black;
			width: 100%;
			height: 300px;
		}
	}
}

@media (max-width: 640px) {
	.info-block {
		margin-top: 20px;
		margin-bottom: 50px;

		&__notice {
			margin-left: 0;

		}

		&__text {
			margin-top: 20px;
		}

		.bg-block {
			position: relative;
			-webkit-background-size: cover;
			background-size: contain;
			background-position: center center;
			// border: 1px solid black;
			width: 100%;
			height: 300px;
		}
	}

	.contact-form {
		.form-btn {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


/* --------------------------------------------------------------------------
 * footer queries
 * -------------------------------------------------------------------------- */

@media (max-width: 990px) {
	
	.footer {
		

		&__logo {
			width: 100%;
			letter-spacing: 7px;
			text-align: center;
			word-wrap: none;
		}

		&__contact-info {
			text-align: center;
			margin-top: 40px;

			.title {
				
			}

			.text {
				margin-top: 10px;
			}
		}

		&__menu {
			display: none;
		}

		&__menu-item {
		}

		&__subscribe-invite {
			text-align: center;
			margin-top: 30px;
		}

		&__subscribe-form {
			input[type='text'] {
				width: 100%;
			}

			input[type='submit'] {
				display: block;
				margin-left: 0;
				margin-top: 10px;
				width: 30%;
				
				@media (max-width: 640px) {
					width: 100%;
				}
			}
		}

		&__copyright {
			margin-top: 30px;
		}
	}

}

// ====================== TOUCH ================================================


/* --------------------------------------------------------------------------
 * touch nav-menu
 * -------------------------------------------------------------------------- */


@media (max-width: 990px) {


	.top-panel.touch, .top-panel.deep, .top-panel.subskin {
		background: #b1c673;
		color: #fff;
	}

	.main-nav.touch, .main-nav.deep, .main-nav.subskin, {
		a {
			color: #333;
			&:hover {
				color: #333;
			}
		}
	}

	.drop-menu.touch, .drop-menu.deep, .drop-menu.subskin	 {
		a {
			color: #333;
		}
	}

}

/* --------------------------------------------------------------------------
 * touch main-block
 * -------------------------------------------------------------------------- */
/* 
@media (max-width: 990px) {
	.main-block.touch {
		background: #b1c673;

		.main-block__title {
			font-size: 80px;
			letter-spacing: 0.15em;
			text-transform: uppercase;
		}

		.main-block__bg {
			background: #d7e5b1;
			z-index: 5;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			-ms-align-items: center;
			align-items: center;

			.main-block__product-img {
				margin-top: 65px;
				margin-bottom: 65px;
				height: 100px;
				position: relative;

				// border: 1px solid black;
				img {
					// border: 1px solid black;
					display: block;
					height: 100%;
				}

				&:after {
					content: '18 mg/ml';
					display: block;
					background: #b1c673;

					position: absolute;
					// right: 0;
					top: 50%;
					left: 100%;

					font-family: "Proxima Nova ExtraBold";
					color: #fff;
					font-size: 20px;
					line-height: 30px;

					padding-top: 20px;
					padding-bottom: 20px;
					padding-right: 30px;
					padding-left: 10px;
					border-radius: 0 10px 0 0;
					width: 70%;
				}
			}
		}
	}
}
 */

/* --------------------------------------------------------------------------
 * touch injection-block
 * -------------------------------------------------------------------------- */


@media (max-width: 990px) {
	.injection-block {
		
		
		&__wrap {
			height: 350px;
		}
		&__img-holder {
			-webkit-background-size: contain;
			background-size: contain;
		}

		&__comment {
		}

		&__title {
		}

		&__subtitle {
		}
	}
}



/* --------------------------------------------------------------------------
 * touch composition-block
 * -------------------------------------------------------------------------- */


@media (max-width: 990px) {
	.composition-block {
		height: 700px;
		&__wrap {
		}

		&__comment {
		}

		&__title {

		}

		&__subtitle {
		}

		&__product-wrap {
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			justify-content: flex-start;
			margin-top: 20px;
			height: 30px;
			.img-holder {

				height: 200px;
				img {
					height: 100%;
				}
			}

			.packing-holder {
				text-align: center;
				&__title {
					margin-bottom: 20px;
				}

				&__notice {
				}
			}

		}


	}

	table.product-indicators {
		display: flex;
		justify-content: center;
		// width: 100%;
		width: auto;

		thead {
			display: flex;
		}

		tbody {
			display: flex;
		}
		
		td {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			padding: 5px;
			line-height: 20px;
		}
	}

}